*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: pink;
  color: #fff;
  font-family: 'sans-serif', serif;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
ul li{
  list-style-type:none;
}

#todo-app .login.hidden {
  display: none;
}
#todo-app .logged-in.hidden {
  display: none;
}

#todo-app .todo {
  cursor: pointer;
}

#todo-app .complete {
  color: gray;
}

#todo-app .todo.complete {
  text-decoration: line-through;
}

#todo-app .delete {
  margin-left: 10px;
  font-weight: bold;

  cursor: pointer;
}





.todoList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}
.cover-img .cover-inner {
  background: url('https://cdn.lynda.com/course/427444/427444-637286181487575557-16x9.jpg');
  height: 190px;
  background-size: cover;
  background-position: 10% 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.cover-img .cover-inner::after {
  background: rgba(0, 0, 0, .3);
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cover-img h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 2.8rem;
  z-index: 10;
  font-weight: 666;
}
.content {
  padding: 10px 20px;
}


.content input[type='text'] {
  padding: 0 5px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #6c717b;
  outline: none;
}

.content ul.todos {
  margin-left: 0;
  padding: 0;
  letter-spacing: none;
  height: 220px;
  overflow: auto;
}
.content li {
  color: black;
  user-select: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.content li i {
  color: #6c717b;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}


